<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All metrics</title>
</head>
<body>
{{ range $metricType, $metricList := . }}
<div class="metrics-list">
  <h3 class="metrics-list__header">{{ $metricType }} values:</h3>
  <div class="metrics-list__values" style="margin-left: 20px;">
    {{ range $metricID, $metricValue := $metricList }}
    <div class="metrics-list__value"><b>{{ $metricID }}</b>: {{ $metricValue.GetStringValue }}</div>
    {{ end }}
  </div>
</div>
{{ end }}
</body>
</html>